.p_wrapper{
    position:fixed;
    left:0;
    right:0;
    top:0;
    bottom: 0;
    background-color: rgba(189,189,189,0.9);
}
.p_container{
    position:fixed;
    width: 30rem;
    background-color:#fff;
    transform: translate(-50%, -50%);
    padding: 2rem 3rem;
    border-radius: 0.5rem;
    top:50%;
    left:50%;
}
.p_container h1{
    background-color:#fff;
    color: #212121;
    text-align: center;
    margin-top: 2.8rem;
    font-family: "Work Sans", "sans-serif";
    margin-bottom: 0px;

}
.p_container .Top{
    background-color:#fff;
    color: #212121;
    text-align: center;
    font-size:1.2rem;
    margin: 1rem 0 2.4rem 0;
    line-height: 1.8rem;
    color:#646464;
    font-weight: 400;
    font-family: "Source Serif Pro", serif;
}
.p_container .Rms_content p{
    background-color:#fff;
    color: #212121;
    font-size:1.2rem;
    margin: 1rem 0 2.4rem 0;
    line-height: 1.8rem;
    color:#646464;
    font-weight: 400;
    font-family: "Source Serif Pro", serif;
}
.p_content{
    background-color:#fff;
    color: #212121;
    display: flex;
    justify-content: space-between;
    padding: 4rem;

}
.p_content p{
    font-size: 20px;
}
.left-content{
    
    background-color:#fff;
    color: #212121;
}
.right-content{
    
    background-color:#fff;
    color: #212121;
}
.left-content p{
    
    background-color:#fff;
    color: #212121;
    margin-bottom: 1rem;
}
.right-content p{
    
    background-color:#fff;
    color: #212121;
    margin-bottom: 1rem;

}
svg{
    color: #212121;
}