.contact{
    display: flex;
    margin-left: 12rem;
    margin-top: 3rem;
    margin-right: 6rem;
    justify-content: space-between;
}
.contact-left h1{

}
.contact-right-upper-sec{
    margin-right: 3rem;
    margin-bottom: 3rem;
}
.form input{
    margin-top: 0.5rem;
    padding: 8px;
    margin-left: 0.5rem;
    color: aliceblue;
    width:100%
}
.form label{
    margin-right: 1px;
}
input[type=text] {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    transition: width 0.4s ease-in-out;
 }
 .submit-btn{
        width: 27%;
        border-radius: 1.5rem;
        border: none;
        background-color: aqua;
        color: #212121;
        text-align: center;
        padding: 0.5rem;
        cursor: pointer;
        font-weight: bold;
        font-size: 1rem;
        margin-top: 2rem;
        margin-left: 6rem;
    }
    .submit-btn:hover{
        background-color:rgb(24, 173, 173) ;
    }
    .home-btn:hover{
        background-color:rgb(24, 173, 173) ;
    
    }
    .social-media{
        display: flex;
        gap: 1.2rem;
    }
    .social-icons{
        cursor: pointer;
        margin-top: 1rem;
        margin-left: 1rem;

    }
    .contact-right{
        border-radius: 2rem;
        overflow: hidden;
        box-shadow: 0px 6px 18px -9px #fff;
        padding: 3rem;

    }
    .touch{
        margin-top: 2rem;
        margin-bottom: 1.5rem;
    }
    .personal{
        border-radius: 30px;
        overflow: hidden;
        box-shadow: 0px 6px 18px -9px #fff;
        padding: 2rem;
        text-align: center;
        margin-top: 1rem;
    }
    .social-icons svg{
        font-size: 30px;
    }
 
