.service{
    
    background-color: #212121;
    color: #fff;
    height: 110vh;
}
.service-upper-sec{
    text-align: center;
    font-size: 1rem;

}
.service-upper-sec h1{
    margin-top: 2rem;
}
.service-header{
    display: flex;
    justify-content:center;
    gap: 0.5rem;
}
.service-lower-sec{
    display: flex;
    margin-left: 7rem;
    margin-top: 2rem;
    gap: 4rem;
    width: 100%;
}

.service-lower-sec .service-card{
    width: 24%;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 6px 18px -9px #fff;
    padding: 1rem;
    text-align: center;
    color: #fff;
    padding: 2.5rem;
}
.service-btn{
    width: 40%;
    border-radius: 1.5rem;
    border: none;
    background-color: aqua;
    color: #212121;
    text-align: center;
    padding: 0.5rem;
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
    margin-top: 1rem;
    margin-left: 4rem;
}
.service-card p{
    margin-top:1rem;
    
}
.service-btn:hover{
    background-color:rgb(24, 173, 173) ;
}